<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>scanner</title>
    <script src="/static/jquery.js"></script>
    <script async src="/static/camera.js"></script>
</head>
<body>
<diva align="center">
    <h1 id="ajx">{{data}}</h1>
</div>
<div align="center">
<video id="video" hidden autoplay>video erro</video>
<canvas id="canvas" width="450" height="500"></canvas>
    <hr>
    <button id="b1"><h3>press to start</h3></button>
    <button id="b2"><h3>press to stop</h3></button>

</div>


</body>
</html>